.main {
	font-family: "Helvetica Neue";
}
#profile-bg {
        position: fixed;
        left: 0;
        top: 44px;
        width: 100%;
        height: 150px;

   /*     background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;*/
        background-size: 100%;
        background-position: 50% 20%;

        text-align: center;
}
#content {
        position: relative;
        margin-top: 150px;
        background-color: white;
        box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
        padding-top: 175px;
}

#profile-info {
        position: absolute;
        top: -100px;
        width: 100%;
        z-index: 2;
        text-align: center;
}
#profile-name {
        color: #444;
        font-size: 26px;
	font-family: "Helvetica Neue";
}
#profile-description {
        font-size: 15px;
        color: #888;
}
#profile-description a {
        color: #888;
}
#profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 150px;
        height: 150px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
#small-profile-image {
        display: block;
        border-radius: 50px;
        border: 1px solid #fff;
        width: 150px;
        height: 150px;
        margin: 0px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
#category-title {
	color: #3366FF;
	font-weight: bold;
	font-family: "Helvetica Neue";
	line-height: 25px;
}

input.reset-field { padding-right: 20px; 
}

.reset-field-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    margin: 0px;
    color: #bbb;
}

#student-list{
	/*
	    Add background color?? 
	*/
}

.instructions {
	color: #C0C0C0;
	font-weight: italic;
}

.search-background {
    background-image: url('../img/search-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

/*
 * For searching
 */
.list .my-item.item {
  left: 0;
  right: 0;
}


.button-no-border {
    padding: 0;
    border: none;
    background: none;
}

#main-search-field {
	color: #3366FF;
	font-weight: bold;
	font-family: "Helvetica Neue";
}
